@import './fonts';

/* Fonts variables */
$font-ttnorms: "TTNorms-Regular", sans-serif;

/* Color variables */
$color-black: #000000;
$color-white: #FFFFFF;
$color-blue: #248CF7;
$color-grey: #BABABA;
$color-grey--light: #F7F8FA;
$color-grey--dark: #131415;
$color-green: #39C36D;
$color-red: #DE0505;
$color-green--light: #3FC572;
$color-orange: #FFA800;
$color-white--dark: #E8E8E8;
