.slider {
    width: 100%;
    height: 100%;

    overflow: hidden;

    position: relative;

    padding: 0 50px;
    margin-top: 15px;

    @media only screen and (max-width: 1440px) {
        max-width: 875px;
    }

    &__wrapper {
        width: 100%;
        height: 100%;

        overflow: hidden;

        position: relative;

        //max-width: 775px;
    }

    &__container {
        height: 100%;

        transition: .5s all linear;

        will-change: transform;

        display: flex;
    }
}
